@page
@using SpotifyAPI.Web
@model PrivacyModel
@{
    ViewData["Title"] = "Top Tracks:";
    var topTracksListShortTerm = await Spotify.GetTopTracksList(new PersonalizationTopRequest()
    {
        TimeRangeParam = PersonalizationTopRequest.TimeRange.ShortTerm
    });
    var topTracksListMediumTerm = await Spotify.GetTopTracksList(new PersonalizationTopRequest()
    {
        TimeRangeParam = PersonalizationTopRequest.TimeRange.MediumTerm
    });
    var topTracksListLongTerm = await Spotify.GetTopTracksList(new PersonalizationTopRequest()
    {
        TimeRangeParam = PersonalizationTopRequest.TimeRange.LongTerm
    });
}
<body>



<div class="container">
    <h2>Top Tracks</h2>
    <p>Below you can switch between different time periods.</p>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#menu1">Last 4 weeks</a></li>
        <li><a data-toggle="tab" href="#menu2">Last 6 months</a></li>
        <li><a data-toggle="tab" href="#menu3">All time</a></li>
    </ul>

    <div class="tab-content">
        <div id="menu1" class="table align-middle mb-0 bg-white">
            <table class="table table-striped">
                <thead class="bg-light">
                <tr class="table-active">
                    <th scope="col">Popularity</th>
                    <th scope="col">Cover</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Link</th>
                </tr>
                </thead>
                <tbody>
                @{
                    int i = 1;
                    foreach (var track in topTracksListShortTerm)
                    {
                        <tr>
                            <th scope="row">@i</th>
                            <td>
                                <img src="@track.AlbumCover" style="width: 60px; height: 60px;">
                            </td>
                            <td>@track.Title</td>
                            <td>@track.Author</td>
                            <td>
                                <button
                                    type="button"
                                    class="btn btn-link btn-rounded btn-sm fw-bold"
                                    data-mdb-ripple-color="dark"
                                    onclick="location.href = '@track.Url'">Track</button> </td>
                        </tr>
                        i++;
                    }
                }
            </table>
        </div>
        <div id="menu2" class="tab-pane fade">
            <div id="tab1" class="tab-pane fade">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">AlbumCover</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                    </tr>
                    </thead>
                    <tbody>
                    @{

                        i = 1;
                        foreach (var track in topTracksListMediumTerm)
                        {
                            <tr>
                                <th scope="row">@i</th>
                                <td>
                                    <img src="@track.AlbumCover" style="width: 60px; height: 60px;">
                                </td>
                                <td>@track.Title</td>
                                <td>
                                    @track.Author</td>
                            </tr>
                            i++;
                        }
                    }
                </table>
            </div>
        </div>
        <div id="menu3" class="tab-pane fade">
            <div id="tab2">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">AlbumCover</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        i = 1;
                        foreach (var track in topTracksListLongTerm)
                        {
                            <tr>
                                <th scope="row">@i</th>
                                <td>
                                    <img src="@track.AlbumCover" style="width: 60px; height: 60px;">
                                </td>
                                <td>@track.Title</td>
                                <td>
                                    @track.Author</td>
                            </tr>
                            i++;
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>



</body>

@* </body> *@



